<div class="title">Books</div>

<% @books.each do |book| %>

  <p >Title</p>
 <% table= "book.title" %>

   <% tr><p>Body</p>
  <%= book.body %>


    <%= link_to "show", book_path(book.id) %>

    <%= link_to "edit", edit_book_path(book.id) %>

    <%= link_to "delete", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %>

<% end %>



<h1>New book</h1>

<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited this book from being saved
  <ul>
     <% @book.errors.full_messages.each do |message| %>
       <li><%= message %></li>
     <% end %>
  </ul>
<% end %>



<%= form_with model: @book, url: '/books', method: :post do |f| %>



  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>
　<br>
  <%= f.submit 'Create Book' %>
<% end %>
