<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="/4QLhsNQU680/GKLkDyFZMaH2cHt4iBZYwi2oGtmXGngY4xpGGU37YX/4ZiYezqTv6WRg2Fp2/SqZkPphUIJhw==">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <head>
      <h1></h1>
    </header>
    <%= yield %>
  </body>
</html>